# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Sample emails
samples/sample_email.eml

# CSV files
exploratory_data_analysis/suspicious_words/top_suspicious_words_by_total_words.csv